.laptop-container{
display: flex;
flex-direction: column;
height:100%;
box-sizing: border-box;
width:100%;
}
.mobile-container-small, .mobile-container-large{
display: flex;
flex-direction: column;
height:100%;
width:100%;
margin:0 auto;
text-align: center;
box-sizing: border-box;
color:white;
background-image: linear-gradient(#303136, #26272A);
}

.flex-container{
  display:flex;
  flex-direction:row;
  color:white;
  
  padding-top:5%;
  justify-content: center;
  
}
.column-left{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  margin-right: 1%;
  max-width: 50%;
}
.column-right{
  display:flex;
  margin-left: 1%;
  flex-direction:column;
  align-items: flex-start;
  max-width: 50%;
}
.Countdown-col-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Countdown{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.Countdown-col-elemen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.el{
  /* color: linear-gradient(, ); */
  font-size: 4em ;
  font-weight: 800;
  background: -webkit-linear-gradient(#8AA1EF, #313B99);
  -webkit-background-clip: text;
   background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: center;
  align-items: center;
}
.grad{
    background: -webkit-linear-gradient(#8AA1EF, #313B99);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ell{
  /* color: linear-gradient(, ); */
  font-size: 2.2em ;
  font-weight: 800;
  background: -webkit-linear-gradient(#8AA1EF, #313B99);
  -webkit-background-clip: text;
   background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: center;
  align-items: center;
}
.eli{
  margin-left: 0.6em;
  margin-right: 0.6em;
  margin-top: 0.3em;
  font-size: 3em ;
  justify-content: center;
  align-items: center;
  color:#C4C4C4;
}
.elii{
  margin-left: 0.3em;
  margin-right: 0.3em;
  margin-top: 0.3em;
  font-size: 1.5em ;
  justify-content: center;
  align-items: center;
  color:#C4C4C4;
}

.contents{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}
.contentsh{
  margin-top: 25%;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

/* @media screen and (min-width: 0px) and (max-width: 400px) {
 .appName{
   font-size: 2em !important;
 }

  /* show it on small screens */

.emai{
 width:18em !important;
 font-size: 0.6em;
}
.sub{
width:11em !important;
height:3em !important;
font-size: 0.6em;
}
.description{
  font-size: 0.8em !important;
}
.desc{
  font-size: 1.0em !important;
}
.des{
  font-size: 1.2em !important;
}
.imga{
  width: 25vw;
  height:auto;
}
.animate {
  transition: transform 8.35s ease-in-out;
}

.animate.grow {
  transform: scale(1.5);
}


@media screen and (min-width: 300px) and (max-width: 1224px) {
 .appName {
   font-size: 1.5em !important;
 }
 .el{
   font-size: 1.1em;
 }
 .eli {
   margin-left: 0.2em;
   margin-right: 0.2em;
   margin-top: 0.7em;
   font-size: 0.5em;
   justify-content: center;
   align-items: center;
   color: #C4C4C4;
 }
}
@media screen and (min-width: 1025px) {
.mobile-container-small{
display: none;
}
.mobile-container-large{
display: none;
}
.laptop-container{
  display: block;
}
}

@media screen and (max-width: 1024px) {
.laptop-container{
display: none;
}
@media screen and (max-height: 700px) {
.mobile-container-large, .laptop-container{
display: none;
}
.mobile-container-small{
  display:block;
}
}
@media screen and (min-height: 700px) {
.mobile-container-small{
display: none;
}
.mobile-container-large{
  display:block;
}
}
}
@media screen and (max-height: 450px) {
.footer{
position:relative !important;
}
.footer p{
  font-size: 0.5em;
}
.desc{
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 0.9em !important;
}
.footer p img{
  width:1.5vw;
  height:auto;
}
.imga{
  width:13vw;
  height:auto;
}
}
