@font-face {
  font-family: "Cerebri Sans";
  src: url(./fonts/Cerebri-Sans/CerebriSans-Light.eot);
  src: url(./fonts/Cerebri-Sans/CerebriSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cerebri Sans";
  src: url(./fonts/Cerebri-Sans/CerebriSans-SemiBold.eot);
  src: url(./fonts/Cerebri-Sans/CerebriSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(./fonts/Cerebri-Sans/CerebriSans-Regular.eot);
  src: url(./fonts/Cerebri-Sans/CerebriSans-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(./fonts/Cerebri-Sans/CerebriSans-Bold.eot);
  src: url(./fonts/Cerebri-Sans/CerebriSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cerebri Sans";
  src: url(./fonts/Cerebri-Sans/CerebriSans-ExtraBold.eot);
  src: url(./fonts/Cerebri-Sans/CerebriSans-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
body,html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Cerebri Sans",
  Helvetica,
  Arial,
  sans-serif !important;
  font-weight: 600 !important;
  background-image: linear-gradient(#303136, #26272A);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
body{
  padding-bottom: 100px;
  box-sizing: border-box;
  overflow: auto;
}
code {
font-family: "Cerebri Sans",
Helvetica,
Arial,
sans-serif !important;
}
